#synapser {
  z-index: 5;
  position: fixed;
  top: 50%;
  margin-top: -250px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  height: 500px;
  background-color: white;
  overflow: scroll;
  display: none;
}
#synapser.visible {
  display: block;
}
.synapse-selected {
  background-color: black;
}

.current {
  color: #ccc;
}

.twingled {
  color: green;
}

.working {
  background-color: red;
}