#twingler-outer {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;

  background-color: rgba(0,0,0,0.5);
}

#twingler-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 70%;
  height: 70%;
  margin-left: -35%;
  margin-top: -35%;

  background-color: #e7e7e3;
  border: 2px solid #000;
}

body.modal-open {
  overflow: hidden;
}

.twingl-current-highlight {

}

.twingl-current-comment {

}

.synapse-selected {
  background-color: black;
}

.current {
  color: #ccc;
}

.twingled {
  color: green;
}

.working {
  background-color: red;
}

.twingling {
  display: block;
  line-height: 140%;
  margin-bottom: 1em;
}