.twingler * {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: left;
  margin: 0;
  padding: 0;
  background: none;
  transition: none;
  box-shadow: none;
  color: #444;
  font-size: 14px;
  box-sizing: border-box;
}

#twingler-outer {
  position: fixed;
  display: none;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;

  background-color: rgba(0,0,0,0.5);
}

#twingler-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 70%;
  height: 560px;
  margin-left: -35%;
  margin-top: -280px;

  background-color: #f7f7f3;
  border: 2px solid #000;

}

.twingler-scrollable {
  height: 90%;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
}

#twingler-search-field {
  width: 100%;
  line-height: 48px;
  border: none;
  border-top: 2px solid #E7E7E3;
  border-bottom: 2px solid #E7E7E3;
  background-color: #FFF;
  padding-left: 40px;
  padding-right: 40px;
  
}

#twingler-close {
  background-color: #734C85;
  border: none;
  width: 100%;
  margin: 0;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

.twingler-search-status {
  position: absolute;
  display: block;
  width: 100%;
  padding-top: 2em;
  color: rgba(0, 0, 0, 0.25);
  font-size: 1.25em;
  padding-left: 40px;
}

.twingl-returned-result {
  padding: 20px 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.working {
  background-color: rgba(40,40,40,0.25);
  color: #E7E7E3;
}

body.modal-open {
  overflow: hidden;
}

.twingl-current {
  background-color: #fff;
  padding: 40px;
}

.twingl-current-highlight {
  font-size: 1.25em;
}

.twingl-current-comment {
  font-size: 0.75em;
}

.synapse-selected {
  background-color: black;
}

.twingler .twingling {
  display: block;
  line-height: 140%;
  margin-bottom: 1em;
}
